
/* Кнопка відкриття модального вікна */
/* #openModalBtn {
    background-color: #FB3B5D;
    color: #100C35;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

/* #openModalBtn:hover {
    background-color: #ff6678;
} */

/* Стилі модального вікна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #261C4E;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
    color: white;
}

.close {
    color: #FB3B5D;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ff6678;
    cursor: pointer;
}

/* Стилі форми */
form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;

}

.submitBtn {
    background-color: #FB3B5D;
    color: #100C35;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitBtn:hover {
    background-color: #ff6678;
}

/* Стиль для повідомлення */
#thankYouMessage {
    color: #FB3B5D;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}