/* Загальні стіилі -------------------------------------------------- */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 480px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
/* adapt for container */
@media (min-width: 760px) and (max-width: 1199px) { 

    .container {
        flex-direction: row;
        width: 760px;
        gap: 30px;
    }
}
@media (min-width: 1200px) {
    .container {
        flex-direction: row;
        width: 1200px;
        gap: 50px;
    }
}
/* block-1 ------------------------------------------------------------ */
.stripe-1 {
    background-color: #100C35;
    width: 100%;
    padding: 10px;
}
.block-1 {
    margin-top: 50px;
}
.block-1 h1 {
    font-size: 3em;
}
.block-1 p {
    color: #9FD4FF;
    font-size: 2em;
}
.block-1 .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.block-1 .button {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 900;
    border: none;
    cursor: pointer;
}
.block-1 .button-order {
    background-color: #100C35;
    border: 2px solid #FB3B5D;
    /* color: white; */
    color: #FB3B5D;
    border-radius: 8px;
}
.block-1 .button-more {
    background-color: #100C35;
    color: #FB3B5D;
    border: 2px solid #FB3B5D;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
}
.image-block {
    margin-top: 20px;
    background: linear-gradient(135deg, #222222, #596B7B);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.image-block img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
/* adapt for block-1 */
@media (min-width: 760px) and (max-width: 1199px) { 
        .block-1 .buttons {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        .image-block {
            margin-top: 20px;
            background: linear-gradient(135deg, #222222, #596B7B);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 20px;
        }
        .image-block img {
            width: 300px;
            height: 200px;
            object-fit: cover;
        }
        .block-1 .button-more {
            text-decoration: none;
        }
}
@media (min-width: 1200px) {
        .block-1 {
            margin-left: 40px;
        }   
        .block-1 .buttons {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        .image-block {
            margin-top: 20px;
            background: linear-gradient(135deg, #222222, #596B7B);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px 70px;
        }
        .block-1 .button-more {
            text-decoration: none;
        }
    }

/* Block-2 ------------------------------------------------------------------------------------ */
.stripe-2 {
    background: #261C4E;
    width: 100%;
    padding: 10px;
}
.block-2 {
    background: #100C35;
    padding: 10px;
}
.block-2 .title {
    font-weight: bold;
}
.block-2 .contact_info {
    font-size: larger;
    margin-left: 10px;
}
.block-2 .photo_Vyacheslav {
    width: 260px;
    height: 340px;
}
/* adapt for Block-2 */
@media (min-width: 760px) and (max-width: 1199px) { 
   .block-2 {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }
    .block-2 .columns {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        gap: 20px;
    }
    .block-2 .contact_info {
        margin-left: 0;
    }
}
@media (min-width: 1200px) {
    .block-2 {
        width: 100%;
        margin: 0 auto;
        padding: 40px;
    }
    .block-2 .columns {
        display: flex;
        gap: 200px;

    }
    .block-2 .contact_info {
        margin-left: 0;
    }
}

/* Block-3 ------------------------------------------------------------------------------------ */
.block-3 {
    padding: 0 10px;
}
.block-3 h2 {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
}
.block-3 .skills {
    justify-content: space-around;
}
.block-3 .skill {
    display: flex;
    align-items: center;
    margin: 10px;
}
.block-3 .skill-number {
    background-color: #261C4E;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-weight: bold;
}
.block-3 .skill-text {
    display: flex;
    flex-direction: column;
}
.block-3 .skill-text p {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #9FD4FF;
}
.block-3 .text {
    margin-top: 5px;
    white-space: normal;
}
.block-3 .skill-text .title {
    color: white;
}

/* adapt for block-3 */
@media (min-width: 760px) and (max-width: 1199px) {
    .block-3 .skills {
        display: flex;
       justify-content: space-between;
    }
}
@media (min-width: 1200px) {
    .block-3 {
        width: 100%;
        margin: 0 auto;
        padding: 0 40px;
    }
    .block-3 .skills {
        display: flex;
        justify-content: space-around;
        gap: 50px;
    }
}
/* block-4 ------------------------------------------------------------------------------------ */
.block-4 {
    background-color: #100C35; /* Колір #1 */
    padding: 20px;
    color: white;
    margin-top: 30px;
}

.background-image-container {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 12, 53, 0.3);
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foreground-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
}

.block-4 h2 {
    text-align: center;
    margin-bottom: 30px;
}

.step {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.hexagon {
    width: 96px;
    height: 154px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.themed-svg-shape-background {
    fill: #261C4E;
    /* fill: #100C35; */
}

.hexagon-content {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.step-details {
    margin-left: 10px;
}

.step-details h3 {
    margin: 0;
    font-size: 1.2em;
}

.step-details p {
    margin: 5px 0 0 0;
    color: #9FD4FF;
}

.language-flags {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}

.language-flags .flag {
    width: 30px;
    height: auto;
    cursor: pointer;
}

@media (min-width:768px) and (max-width: 1199px) {
    .block-4 {
        display: flex;
        flex-direction: row-reverse;
        gap: 15px;
    }

    .background-image-container {
        position: relative;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
}

@media (min-width: 1200px) {
    .block-4 {
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;
    }
    .background-image-container {
        position: relative;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
}

/* Block-5 -------------------------------------------------------------------------- */
.colorable-icon {
    color: #FB355D;
    width: 60px;
    height: 60px;
}

.offer_title {
    font-weight: bold;
}

/* adapt for block-5 */
@media (min-width:768px) and (max-width: 1199px) {
    .offers {
        display: flex;
    }
}

@media (min-width: 1200px) {
    .offers {
        display: flex;
    }
}